[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
djangorestframework = "*"
drf-nested-routers = "*"
requests = "*"
pika = "*"
django-cors-headers = "*"
django-filter = "*"
shortuuid = "*"
rstream = "*"
channels = "*"
django-import-export = "*"
django-stubs = "*"

[dev-packages]

[requires]
python_version = "3.13"
